@model KeWeiOMS.Domain.CountryType
@{
    Layout = null;
}
<fieldset>
    <legend>详细查询</legend>
    <table>
        <tr>
            <td>中文名</td>
            <td>
                <input id="CCountry" type="text" /></td>
            <td>英文名</td>
            <td>
                <input id="ECountry" type="text" /></td>
        </tr>
        <tr>
            <td>中文名</td>
            <td colspan="3">
                <input id="CountryCode" type="text" /></td>
        </tr>
    </table>
</fieldset>
