@model KeWeiOMS.Domain.EbayReplayType

@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {

		  $('#c_ReplayBy').combobox({
          url: 'User/UserSrc',
          editable: true
      });

    });
    
</script>

@using (Html.BeginForm("Create", "EbayReplay", FormMethod.Post, new { id = "c_form" }))
{
<fieldset>
<table class="editForm">

	<tr>
		<td>
            @Html.LabelFor(model => model.ReplayBy,"回复人员:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReplayBy,new{@id="c_ReplayBy"})
		</td>
	</tr>

	<tr>
		<td>
            @Html.LabelFor(model => model.ReplayAccount,"回复账号:")
		</td>
		<td>
            @Html.TextBoxFor(model => model.ReplayAccount,new{@id="c_ReplayAccount"})
		</td>
	</tr>

</table>
</fieldset>
}
