@{
    ViewBag.Title = "权限设置";
}
<script type="text/javascript">
    $(function () {
        $('#tree1').tree({
            url: '@Url.Action("SelectListByRole", "Module")/@ViewData["uid"]',
            checkbox: true
        });
        $('#tree2').tree({
            url: '@Url.Action("SelectListByRole", "PermissionItem")/@ViewData["uid"]',
            checkbox: true
        });
    })

    function getChecked(tree) {

        var nodes = $('#' + tree).tree('getChecked');
        var s = '';
        for (var i = 0; i < nodes.length; i++) {
            if (s != '') s += ',';
            s += nodes[i].id;
        }
        return s;
    }

    function SetUser() {
        var m = getChecked('tree1');
        var p = getChecked('tree2');

        $.ajax({
            type: "POST",
            url: "/Role/SetMP/",
            data: "uid=@ViewData["uid"]&m=" + m + "&p=" + p,
            success: function (msg) {
                alert("已经保存");
            }
        });
    }
</script>
<input type="button" value="保存" onclick="SetUser()" />
<table style="width: 600px; height: 300px;">
    <tr>
        <td valign="top">
            <fieldset>
                <legend>菜单管理</legend>

                <div id="tree1"></div>
            </fieldset>
        </td>
        <td valign="top">
            <fieldset>
                <legend>权限管理</legend>
                <div id="tree2"></div>
            </fieldset>
        </td>
    </tr>
</table>
