@model IEnumerable<KeWeiOMS.Domain.MachinesOldType>
@{
    Layout = null;
    ViewBag.Title = "";
}
<table class="dv-table" border="0" style="width: 100%;">
    @foreach (var p in Model)
    {
        <tr>
            <td>
            <td>曾经使用人:@p.UserNameOld</td>
            <td>状态:@p.StatusOld</td>
            <td>开始时间:<label formatter="getDate">@p.StartDateOld</label></td>
            <td>结束时间:<label formatter="getDate">@p.EndDateOld</label></td>
        </tr>
    }
</table>
