@model KeWeiOMS.Domain.UserType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $('#oldpsd').validatebox({
            required:true  
        });
        $('#newpsd').validatebox({
            required: true
        });
        $('#newpsd2').validatebox({
            required: true
        });
    })
</script>

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { id = "p_form" }))
{
    <fieldset>
        <table class="editForm">
            <tr>
                <td>
                    <label>登录名:</label>
                </td>
                <td>
                    <label>@ViewData["Username"]</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>旧密码:</label>
                </td>
                <td>
                   <input id="oldpsd" type="password"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>新密码:</label>
                </td>
                <td>
                  <input id="newpsd" type="password"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>确认密码:</label>
                </td>
                <td>
                   <input id="newpsd2" type="password"/>
                </td>
            </tr>
          </table>
        </fieldset>
}
