@{
    Layout = null;
}
<table id="dg2" class="easyui-datagrid"
    rownumbers="true" singleselect="true" pagination="true">
    <thead>
        <tr>
            <th field="OrderNo" width="100">编号
            </th>
            <th field="OrderNo" width="100">追踪码
            </th>
            <th field="OrderNo" width="100">重量
            </th>
            <th field="OrderNo" width="100">发货方式
            </th>
            <th field="OrderNo" width="100">运费
            </th>
            <th field="OrderNo" width="100">发货状态
            </th>
            <th field="OrderNo" width="100">发货时间
            </th>
        </tr>
    </thead>
</table>
