@{
    ViewBag.Title = "ProductProfits";
}
<div>

    <script type="text/javascript">
        var price = null;
        var weight = null;
        var qty = null;
        var onlineprice = null;
        var currency = null;
        var logisticMode = null;
        var country = null;
        $(function () {
            $('#Currency').combogrid({
                panelWidth: 360,
                idField: 'CurrencyCode',
                textField: 'CurrencyCode',
                url: '/Currency/QList',
                required:true,
                onChange: function (value) {
                    currency = value;
                    Calculate();
                },
                fit: true,
                columns: [[
                    { field: 'CurrencyName', title: '货币', width: 150 },
                    { field: 'CurrencyCode', title: '代码', width: 100 },
                    { field: 'CurrencyValue', title: '汇率', width: 100 }
                ]]
            });
            $('#Currency').combogrid("setValue","USD");
            $('#sku').combogrid({
                panelWidth: 410,
                mode: 'remote',
                idField: 'SKU',
                textField: 'SKU',
                onChange: function (sku) {
                    SeachSKU(sku);
                },
                url: '/Product/ListQ',
                fit: true,
                columns: [[
                    { field: 'SKU', title: 'SKU', width: 100 },
                    { field: 'ProductName', title: 'Title', width: 200},
                    { field: 'Standard', title: '规格', width: 100 }
                ]]
            });

            $('#LogisticMode').combogrid({
                panelWidth: 360,
                idField: 'LogisticsCode',
                textField: 'LogisticsName',
                url: '/LogisticsMode/ALLList',
                onChange: function (value) {
                    logisticMode = value;
                    Calculate();
                },
                fit: true,
                columns: [[
                    { field: 'LogisticsName', title: '名称', width: 250 },
                    { field: 'LogisticsCode', title: '代码', width: 100 }
                ]]
            });
            $('#LogisticMode').combogrid("setValue", "NBGH");
            $('#Country').combogrid({
                panelWidth: 360,
                idField: 'Id',
                textField: 'ECountry',
                url: '/Country/ListALL',
                onChange: function (value) {
                    country = value;
                    Calculate();
                },
                fit: true,
                columns: [[
                    { field: 'CCountry', title: '中文', width: 150 },
                    { field: 'ECountry', title: '英文', width: 100 },
                    { field: 'CountryCode', title: '简码', width: 100 }
                ]]
            });
            $('#Country').combogrid("setValue","218");

        })
        function SeachSKU(sku) {
            $.getJSON('@Url.Action("SearchSKU", "Product")/' + sku, function (json) {
                    if (json) {
                        $("#price").numberbox("setValue", json[0].Price);
                        $("#weight").numberbox("setValue", json[0].Weight);
                              qty = json[0].Price;
                              weight = json[0].Weight;
                              Calculate();
                    }
            });
            
        }

        function Calculate() {
            price = $("#price").attr("value");
            weight = $("#weight").attr("value");
            qty = $("#qty").attr("value");
            onlineprice = $("#onlineprice").attr("value");
            if (price && weight && qty && onlineprice && currency && logisticMode && country) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Freight", "Product")',
                    data: "price=" + price + "&weight=" + weight + "&qty=" + qty + "&onlineprice=" + onlineprice + "&currency=" + currency + "&logisticMode=" + logisticMode + "&country=" + country,
                    success: function (msg) {
                        $("#profit").numberbox("setValue", msg);
                    }
                });
            }
            else {
                $("#profit").numberbox("setValue","");
            }
        }
    </script>
@using (Html.BeginForm("Freight", "Product", FormMethod.Post, new { id = "profitform" }))
{
  <fieldset>
    <legend>产品信息</legend>
      <table>
          <tr>
            <td>
                <label>SKU:</label>
             </td>
              <td>
                <input id="sku" style="width:150px" type="text" />
            </td>
          </tr>
          <tr>
            <td>
                <label>价格:</label>
             </td>  
             <td>
                <input  id="price" type="text" class="easyui-numberbox" data-options="precision:2,required:true"  onblur = "Calculate()"  />
             </td> 
          </tr>
          <tr>
            <td>
                <label>重量:</label>
            </td>
            <td>
               <input id="weight" type="text"  class="easyui-numberbox" data-options="precision:2,required:true" onblur = "Calculate()"/>
            </td>
          </tr>
          <tr>
            <td>
                <label>数量:</label>
            </td>
            <td>
                <input id="qty" type="text"  class="easyui-numberbox" data-options="required:true" type="text" onblur = "Calculate()"/>
            </td>
          </tr>
          <tr>
            <td>
                <label>平台销售价格:</label>
            </td>
            <td>
                <input id="onlineprice" type="text"  class="easyui-numberbox" data-options="precision:2,required:true" onblur = "Calculate()"/>
            </td>
          </tr>
          <tr>
            <td>
                <label>汇率:</label>
            </td>
            <td>
                <input id="Currency" type="text" style="width:150px" onblur = "Calculate()"/>
            </td>
          </tr>
      </table>
  </fieldset>
  <fieldset>
    <legend>物流信息</legend>
         <table>
          <tr>
            <td>
                <label>发货方式:</label>
             </td>
              <td>
                <input id="LogisticMode" type="text" onblur = "Calculate()"/>
            </td>
          </tr>
          <tr>
            <td>
                <label>国家:</label>
             </td>  
             <td>
                <input id="Country" type="text" onblur = "Calculate()"/>
             </td> 
          </tr>
      </table>
  </fieldset>
      <fieldset>
    <legend>利润信息</legend>
         <table>
          <tr>
            <td>
                <label>利润:</label>
             </td>  
             <td>
                <input id="profit" type="text" class="easyui-numberbox" data-options="precision:2"/>
             </td> 
          </tr>
      </table>
  </fieldset>
}
</div>