@model IEnumerable<KeWeiOMS.Domain.SKUCodeType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                url: '@Url.Action("SKUCodeList", "Product")',
                pageNumber: 1,
                pageSize: 20,
                pageList: [20, 40, 60, 80, 100]
            });
            $('#Pei').combobox({
                valueField: 0,
                textField: 1,
                panelHeight: 'auto',
                data: checksall,
                width: 100
            });
            $('#Send').combobox({
                valueField: 0,
                textField: 1,
                panelHeight: 'auto',
                data: checksall,
                width: 100
            });
            $('#Pei').combobox("setValue", "ALL");
            $('#Send').combobox("setValue", "ALL");
        });

        //删除
        function del() {

            var id = getselectedRow();
            if (id != undefined) {

                var url = '@Url.Action("DeleteSKU", "Product")/' + id;
                delData(url, 'dg');

            }
        }

        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }
        function doSearch() {
            search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
            var d = $('#Pei').combobox("getValue");
            if (d != "ALL" && d != "") {
                if (d == "1") {
                    search += "IsOut_es&1^";
                } else {
                    search += "IsOut_es&0^";
                }
            }
            var f = $('#Send').combobox("getValue");
            if (f != "ALL" && f != "") {
                if (f == "1") {
                    search += "IsSend_es&1^";
                } else {
                    search += "IsSend_es&0^";
                }
            }
            $("#dg").datagrid("load", {
                search: search
            });
        }

        function ReP() {
            $.messager.confirm("提示", "你确定要重置这些产品吗？", function (r) {
                if (r) {
                    jQuery.ajax({
                        url: "/Product/ReP/",
                        type: "post",
                        data: "p=" + $("#ps").val(),
                        success: function (sss) {
                            if (sss.IsSuccess) {
                                alert("重置成功");
                                $('#dg').datagrid("reload");
                                $("#ps").val('');
                            } else {
                                alert("您没有权限重置，请联系景波，kelvin，储善昂！");
                                $('#dg').datagrid("reload");
                                $("#ps").val('');
                            }
                        }
                    });
                }
            });
        }
    </script>
    <div region="center">
        <table id="dg" class="easyui-datagrid"
            toolbar="#toolbar"
            rownumbers="true" fitcolumns="true" singleselect="true" pagination="true" fit="true">
            <thead>
                <tr>
                    <th field="Code" width="100" sortable="true">Code
                    </th>

                    <th field="SKU" width="100" sortable="true">SKU
                    </th>
                    <th field="PlanNo" width="100" sortable="true">采购编号
                    </th>
                    <th field="CreateOn" width="100" sortable="true">到货时间
                    </th>
                    <th field="IsOut" width="100" formatter="getTrue" sortable="true">是否配货
                    </th>
                    <th field="PeiOn" width="100" sortable="true">配货时间
                    </th>
                    <th field="IsSend" width="100" formatter="getTrue" sortable="true">是否出库
                    </th>
                    <th field="SendOn" width="100" sortable="true">出库时间
                    </th>
                    <th field="OrderNo" width="100" sortable="true">订单
                    </th>
                    <th field="WName" width="100" sortable="true">仓库
                    </th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="del();">删除</a>
            配货：<input type="text" id="Pei" />
            发货：<input type="text" id="Send" />
            <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="$('#r_dlg').dialog('open');">设置重置库存</a>
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'Code'">Code</div>
            <div data-options="name:'SKU'">SKU</div>
            <div data-options="name:'OrderNo'">订单号</div>
            <div data-options="name:'PlanNo'">采购单号</div>
        </div>

        <div id="r_dlg" class="easyui-dialog" title="订单拦截设置" style="width: 400px; height: 300px; padding: 10px" closed="true">
            <table>
                <tr>
                    <td>选项:</td>
                    <td>
                        <textarea id="ps" style="width: 300px; height: 200px;"></textarea></td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="button" value="确定" onclick="ReP()" /></td>
                </tr>
            </table>
        </div>
    </div>
</body>
