@{
    
}


    <script type="text/javascript" charset="utf-8">
        $(function () {

            $('#layout_east_onlineDatagrid').datagrid({
                url: '/onlineController/datagrid.action',
                title: '',
                iconCls: '',
                fit: true,
                fitColumns: true,
                pagination: true,
                pageSize: 10,
                pageList: [10],
                nowarp: false,
                border: false,
                idField: 'id',
                sortName: 'logindatetime',
                sortOrder: 'desc',
                frozenColumns: [[{
                    title: '编号',
                    field: 'id',
                    width: 150,
                    hidden: true
                }]],
                columns: [[{
                    title: '登录名',
                    field: 'loginname',
                    width: 100,
                    sortable: true,
                    formatter: function (value, rowData, rowIndex) {
                        return formatString('<span title="{0}">{1}</span>', value, value);
                    }
                }, {
                    title: 'IP',
                    field: 'ip',
                    width: 150,
                    sortable: true,
                    formatter: function (value, rowData, rowIndex) {
                        return formatString('<span title="{0}">{1}</span>', value, value);
                    }
                }, {
                    title: '登录时间',
                    field: 'logindatetime',
                    width: 150,
                    sortable: true,
                    formatter: function (value, rowData, rowIndex) {
                        return formatString('<span title="{0}">{1}</span>', value, value);
                    },
                    hidden: true
                }]],
                onClickRow: function (rowIndex, rowData) {
                },
                onLoadSuccess: function (data) {
                    $('#layout_east_onlinePanel').panel('setTitle', '( ' + data.total + ' )人在线');
                }
            }).datagrid('getPager').pagination({
                showPageList: false,
                showRefresh: false,
                beforePageText: '',
                afterPageText: '/{pages}',
                displayMsg: ''
            });

            $('#layout_east_calendar').calendar({
                fit: true,
                current: new Date(),
                border: false,
                onSelect: function (date) {
                    $(this).calendar('moveTo', new Date());
                }
            });

            $('#layout_east_onlinePanel').panel({
                tools: [{
                    iconCls: 'icon-reload',
                    handler: function () {
                        $('#layout_east_onlineDatagrid').datagrid('load', {});
                    }
                }]
            });

            window.setInterval(function () {
                $('#layout_east_onlineDatagrid').datagrid('load', {});
            }, 1000 * 60 * 10);

        });
    </script>
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'north',border:false" style="height: 180px; overflow: hidden;">
            <div id="layout_east_calendar"></div>
        </div>
        <div data-options="region:'center',border:false" style="overflow: hidden;">
            <div id="layout_east_onlinePanel" data-options="fit:true,border:false" title="用户在线列表">
                <table id="layout_east_onlineDatagrid"></table>
            </div>
        </div>
    </div>


<script type="text/javascript">
    $(function () {

        var formParam = {
            url: '/userController/login.action',
            success: function (result) {
                var r = $.parseJSON(result);
                if (r.success) {
                    $('#user_login_loginDialog').dialog('close');

                    $('#sessionInfoDiv').html(formatString('[<strong>{0}</strong>]，欢迎你！您使用[<strong>{1}</strong>]IP登录！', r.obj.loginName, r.obj.ip));

                    $('#layout_east_onlineDatagrid').datagrid('load', {});
                } else {
                    $.messager.show({
                        title: '提示',
                        msg: r.msg
                    });
                }
            }
        };

        $('#user_login_loginInputForm').form(formParam);
        $('#user_login_loginDatagridForm').form(formParam);
        $('#user_login_loginCombogridForm').form(formParam);

        $('#user_login_loginTab').tabs({
            fit: true,
            border: false,
            onSelect: function (title, index) {
                if (index == 1) {
                    var opts = $('#user_login_loginCombogrid').combogrid('options');
                    if (!opts.url) {
                        $('#user_login_loginCombogrid').combogrid({
                            url: '/userController/combogrid.action'
                        });
                    }
                } else if (index == 2) {
                    var opts = $('#user_login_loginCombobox').combobox('options');
                    if (!opts.url) {
                        $('#user_login_loginCombobox').combobox({
                            url: '/userController/combobox.action'
                        });
                    }
                }
            }
        });

        $('#user_login_loginDialog').show().dialog({
            modal: true,
            title: '系统登录',
            closable: false,
            buttons: [{
                text: '注册',
                handler: function () {
                    $('#user_reg_regDialog').dialog('open');
                }
            }, {
                text: '登录',
                handler: function () {
                    var tab = $('#user_login_loginTab').tabs('getSelected');
                    tab.find('form').submit();
                }
            }]
        });

        $('#user_login_loginCombogrid').combogrid({
            panelWidth: 450,
            panelHeight: 200,
            idField: 'name',
            textField: 'name',
            pagination: true,
            fitColumns: true,
            required: true,
            rownumbers: true,
            mode: 'remote',
            delay: 500,
            pageSize: 5,
            pageList: [5, 10],
            columns: [[{
                field: 'name',
                title: '登录名',
                width: 150
            }, {
                field: 'createdatetime',
                title: '创建时间',
                width: 150
            }, {
                field: 'modifydatetime',
                title: '最后修改时间',
                width: 150
            }]]
        });

        $('#user_login_loginCombobox').combobox({
            valueField: 'name',
            textField: 'name',
            required: true,
            panelHeight: 'auto',
            delay: 500
        });

        var sessionInfo_userId = '';
        if (sessionInfo_userId) {/*目的是，如果已经登陆过了，那么刷新页面后也不需要弹出登录窗体*/
            $('#user_login_loginDialog').dialog('close');
        }

    });
</script>


