@using KeWeiOMS.Web
<script type="text/javascript">
    $(function () {
        initLeftMenu();

        tabCloseEven();
        addTab('主页', '@Url.Action("Default", "Home")', "false");

        $('#loginOut').click(function () {
            $.messager.confirm('系统提示', '您确定要退出本次登录吗?', function (r) {
                if (r) {
                    location.href = '/User/LogOff/';
                }
            });
        });
       // changeTheme(getCookie("easyuiThemeName"));
        //$('#mainframe').layout('collapse', 'east');
    });

    function getCookie(name)//取cookies函数       
        {
            var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));

            if(arr != null) return unescape(arr[2]); return null;
        }


    function initLeftMenu() {
        $("#nav").accordion({ animate: true });
        $('.easyui-accordion li a').click(function () {
            var tabTitle = $(this).children('.nav').text();
            var url = $(this).attr("rel");
            var parentmenu = $(this).attr("ref");
            addTab(parentmenu + '-' + tabTitle, url);
            $('.easyui-accordion li div').removeClass("selected");
            $(this).parent().addClass("selected");
        }).hover(function () {
            $(this).parent().addClass("hover");
        }, function () {
            $(this).parent().removeClass("hover");
        });

        var panels = $('#nav').accordion('panels');
        var t = panels[0].panel('options').title;
        $('#nav').accordion('select', t);
    }

    function addTab(subtitle, url, closable) {
        if (!$('#tabs').tabs('exists', subtitle)) {
            var cl = true;
            if (closable == 'false')
                cl = false;
            $('#tabs').tabs('add', {
                title: subtitle,
                content: createFrame(url),
                closable: cl
            });
        } else {
            $('#tabs').tabs('select', subtitle);
        }
        tabClose();
    }
    function closeTab(subtitle) {
        if ($('#tabs').tabs('exists', subtitle)) {
            $('#tabs').tabs('close', subtitle);
        }
    }

    function closeSelectedTab() {
        var tab = $('#tabs').tabs('getSelected');
        var title = tab.panel('options')['title'];

        if (tab) {
            $('#tabs').tabs('close', title);
        }
    }

    function createFrame(url) {
        var s = '<iframe scrolling="auto" frameborder="0"  src="' + url + '" style="width:100%;height:99.5%"></iframe>';
        return s;
    }

    function tabClose() {
        /*双击关闭TAB选项卡*/
        $(".tabs-inner").dblclick(function () {
            var subtitle = $(this).children(".tabs-closable").text();
            $('#tabs').tabs('close', subtitle);
        });
        /*为选项卡绑定右键*/
        $(".tabs-inner").bind('contextmenu', function (e) {
            $('#mm').menu('show', {
                left: e.pageX,
                top: e.pageY
            });
            var subtitle = $(this).children(".tabs-closable").text();
            $('#mm').data("currtab", subtitle);
            $('#tabs').tabs('select', subtitle);
            return false;
        });
    }
    //绑定右键菜单事件
    function tabCloseEven() {
        //刷新
        $('#mm-tabupdate').click(function () {
            var currTab = $('#tabs').tabs('getSelected');
            var url = $(currTab.panel('options').content).attr('src');
            $('#tabs').tabs('update', {
                tab: currTab,
                options: {
                    content: createFrame(url)
                }
            });
        });
        //关闭当前
        $('#mm-tabclose').click(function () {
            var currtab_title = $('#mm').data("currtab");
            $('#tabs').tabs('close', currtab_title);
        })
        //全部关闭
        $('#mm-tabcloseall').click(function () {
            $('.tabs-inner span').each(function (i, n) {
                var t = $(n).text();
                $('#tabs').tabs('close', t);
            });
        });
        //关闭除当前之外的TAB
        $('#mm-tabcloseother').click(function () {
            $('#mm-tabcloseright').click();
            $('#mm-tabcloseleft').click();
        });
        //关闭当前右侧的TAB
        $('#mm-tabcloseright').click(function () {
            var nextall = $('.tabs-selected').nextAll();
            if (nextall.length == 0) {
                //msgShow('系统提示','后边没有啦~~','error');
                alert('后边没有啦~~');
                return false;
            }
            nextall.each(function (i, n) {
                var t = $('a:eq(0) span', $(n)).text();
                $('#tabs').tabs('close', t);
            });
            return false;
        });
        //关闭当前左侧的TAB
        $('#mm-tabcloseleft').click(function () {
            var prevall = $('.tabs-selected').prevAll();
            if (prevall.length == 0) {
                alert('到头了，前边没有啦~~');
                return false;
            }
            prevall.each(function (i, n) {
                var t = $('a:eq(0) span', $(n)).text();
                $('#tabs').tabs('close', t);
            });
            return false;
        });

        //退出
        $("#mm-exit").click(function () {
            $('#mm').menu('hide');
        });
    }
    function changePass() {
            showdlg('/User/ChangePassword', 'p_dlg', ajaxAdd)
    }
    function ajaxAdd() {
        if ($("#p_form").form('validate')!=true)
            return;
        if ($('#newpsd').attr("value") != $('#newpsd2').attr("value"))
            alert("密码与确认密码不一致！");
        else {
            $.ajax({
                url: '@Url.Action("Change", "User")/',
                type: 'post',
                data: "oldpsd=" + $('#oldpsd').attr("value") + "&newpsd=" + $('#newpsd').attr("value"),
                success: function (result) {
                    if (result.IsSuccess) {
                        $('#p_dlg').dialog('close');
                        alert("操作成功");
                    } else {
                        alert(result.ErrorMsg);
                    }
                }
            });
        }
    }
</script>
<style type="text/css">
    a {
        color: Black;
        text-decoration: none;
    }
</style>

<body class="easyui-layout" id="mainframe">
    <div region="north" border="false" style="overflow: hidden; height: 68px; line-height: 20px; background: url('../../Content/imgs/bg.png') repeat-x; font-family: 微软雅黑,黑体">
        <div id="mainlogo">
            @*<img src="images/main.gif" width="575" height="72" alt="此处放置一个带有系统名称的图片，大小为“500x72”" />*@
        </div>
        <div id="center">
        </div>
        <div id="mainctrl">
            <div class="wel">
                @ViewData["Username"]
                ,欢迎您的光临！
           
            </div>


            <div style="position: absolute; right: 0px; bottom: 0px;">
                <a href="javascript:void(0);" class="easyui-menubutton" data-options="menu:'#layout_north_pfMenu',iconCls:'icon-ok'">更换皮肤</a> <a href="javascript:void(0);" class="easyui-menubutton" data-options="menu:'#layout_north_kzmbMenu',iconCls:'icon-help'">控制面板</a> <a href="#" id="loginOut" class="easyui-menubutton" data-options="iconCls:'icon-back'">安全退出</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           
            </div>
            <div id="layout_north_pfMenu" style="width: 120px; display: none;">
                <div onclick="changeTheme('default');">default</div>
                <div onclick="changeTheme('gray');">gray</div>
                <div onclick="changeTheme('metro');">metro</div>
                <div onclick="changeTheme('metro-blue');">metro-blue</div>
                <div onclick="changeTheme('metro-gray');">metro-gray</div>
                <div onclick="changeTheme('metro-green');">metro-green</div>
                <div onclick="changeTheme('metro-orange');">metro-orange</div>
                <div onclick="changeTheme('metro-red');">metro-red</div>
            </div>
            <div id="layout_north_kzmbMenu" style="width: 120px; display: none;">
                <div onclick="changePass();">密码修改</div>
            </div>
        </div>
    </div>

    <div region="west" split="true" title="功能菜单" style="width: 170px; padding: 1px; overflow: hidden;">
        @{
            Html.RenderPartial("Nav", FunctionMenu.GetFunctionMenus(KeWeiOMS.NhibernateHelper.NhbHelper.GetCurrentSession()));
 }
    </div>
    <div region="center" title="" style="overflow: hidden; padding: 0px;" id="centerArea">
        <div class="easyui-tabs" fit="true" border="false" id="tabs">
        </div>
    </div>
    <div style="display: none">
        <div id="mm" class="easyui-menu" style="width: 150px;">
            <div id="mm-tabupdate">刷新</div>
            <div class="menu-sep"></div>
            <div id="mm-tabclose">关闭</div>
            <div id="mm-tabcloseall">全部关闭</div>
            <div id="mm-tabcloseother">除此之外全部关闭</div>
            <div class="menu-sep"></div>
            <div id="mm-tabcloseright">当前页右侧全部关闭</div>
            <div id="mm-tabcloseleft">当前页左侧全部关闭</div>
            <div class="menu-sep"></div>
            <div id="mm-exit">退出</div>
        </div>
    </div>
    <div id="p_dlg"></div>  
</body>

