@{
    ViewBag.Title = "PrintSetup";
}
<script>

    $(function () {
        $('#PrintTemp').combobox({
            url: '/PrintTemplate/QList',
            valueField: 0,
            textField: 1,
            required: true,
            width: 300,
            panelHeight: 'auto'
        });
       
    })


    function showPrintWindow() {
        $.ajax({
            type: "POST",
            url: "/Home/SetPrintData",
            data: "t=1&m=" + $("#PrintTemp").combobox("getValue") + "&d=" + $("#txtData").val(),
            success: function (msg) {
                if (msg.IsSuccess != "") {
                    $('#printdata').val(msg.Result);
                    window.open('/Home/PrintDetail/' + $("#PrintTemp").combobox("getValue"));
                }
            }
        });
    }
</script>

<table>
    <input type="hidden" id="printdata" />
  @*  <tr>
        
        <td>打印类型</td>
        <td>
            <input type="text" id="PrintType" /></td>
    </tr>*@
    <tr>
        <td>打印数据</td>
        <td>
            <textarea style="width: 600px; height: 300px;" id="txtData">@ViewData["ids"]</textarea></td>
    </tr>
    <tr>
        <td>打印模板</td>
        <td>
            <input type="text" id="PrintTemp" /></td>
    </tr>
   
    <tr>
        <td></td>
        <td>
            <input type="button" onclick="showPrintWindow()" value="打印" />
        </td>
    </tr>
</table>

