@{
    ViewBag.Title = "PackScore";
}
<script>
    $(function () {
        $("#cc").datebox({
            editable:false,
            parser: myparser
        });
        $("#cc2").datebox({
            editable: false,
            parser: myparser
        });
        var today = new Date();
        var st = getOnlyDate(new Date(today.setMonth(today.getMonth() - 1)).setDate(1).toString());
        var et = getOnlyDate(new Date().setDate(0).toString());
        $('#cc').datebox("setValue",st);
        $('#cc2').datebox("setValue",et);
        $('#dg').datagrid({
            title: "计件分数",
            rownumbers: true,
            singleSelect: true,
            url: '@Url.Action("GetScore", "Statistics")',
            queryParams: { "st": $('#cc').combobox("getValue"), "et": $('#cc2').combobox("getValue") },
            showFooter: true,
            width: 1000,
            height: 430,
            striped: true
            });
    });
    function myparser(s) {
        if (!s) return new Date();
        var ss = s.split('-');
        var y = parseInt(ss[0], 10);
        var m = parseInt(ss[1], 10);
        var d = parseInt(ss[2], 10);
        if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
            return new Date(y, m - 1, d);
        } else {
            return new Date();
        }
    }
    function onSelect1() {

            $('#dg').datagrid("load", {
                st: $('#cc').combobox("getValue"),
                et: $('#cc2').combobox("getValue")
            });
    }
    function ExportOut() {
        $('#dg').datagrid("loading");
        var postUrl = "/Order/ExportDown/1";
        jQuery.ajax({
            url: "/Statistics/ExportSore",
            type: "post",
            data:"st=" + $('#cc').combobox("getValue") + "&et=" + $('#cc2').combobox("getValue"),
            success: function (sss) {
                location.href = postUrl;
                $('#dg').datagrid("reload");
            }
        });
    }
</script>
开始<input id="cc" type="text">
结束<input id="cc2" type="text">
<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="onSelect1();">查询</a>
<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="ExportOut();">导出</a>
<table>
    <tr>
        <td>
            <table id="dg">
                <thead>
                    <tr>
                        <th field="PackBy" width="100">工作人员
                        </th>
                        <th field="PackSores" width="150">得分
                        </th>
                        <th field="Qcount" width="150">包裹总数
                        </th>
                        <th field="Avg" width="150">平均分
                        </th>
                        <th field="Sore" width="150">补分
                        </th>
                        <th field="TotalSores" width="150">总得分
                        </th>
                    </tr>
                </thead>
            </table>
        </td>
    </tr>
</table>
