@model KeWeiOMS.Web.QueCount
@{
    ViewBag.Title = "QueCount";
}
<script type="text/javascript">
    $(function () {
        $('#dg').datagrid({
            url: '@Url.Action("QueData", "Statistics")'

        });

    });

    function doSearch() {
        $('#dg').datagrid("load", {
            s: $('#cc').val()

        });
    }

    function ExportOrder() {
        $('#dg').datagrid("loading");
        var postUrl = "/Order/ExportDown/1";
        jQuery.ajax({
            url: "/Statistics/ExportQue",
            type: "post",
            data: "s=" + $('#cc').val(),
            success: function (sss) {
                location.href = postUrl;
                $('#dg').datagrid("reload");
            }
        });
    }
</script>

<table id="dg" title="缺货统计" style="width: 1200px; height: 500px" toolbar="#toolbar"
    singleselect="true" fitcolumns="true" rownumbers="true">
    <thead>
        <tr>
            <th field='SKU' sortable="true" width="100px">SKU</th>
            <th field='Standard' sortable="true" width="100px">描述</th>
            <th field='Qty' sortable="true" width="100px">数量</th>
            <th field='MinDate' sortable="true" width="100px" formatter="getDate">最早时间</th>
            <th field='BuyQty' sortable="true" width="100px">已经购买数</th>
            <th field='NeedQty' sortable="true" width="100px">还需要购买数</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    SKU<input type="text" id="cc" />
    <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="doSearch();">查询</a>
    <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="ExportOrder();">导出</a>
</div>
