@{
    ViewBag.Title = "PeiScan";
}
<script type="text/javascript">
    if (document.all) {
        document.write(' <OBJECT id="Player"');
        document.write(' classid="clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6"');
        document.write(' width=0 height=0 > <param name="URL" value="/audio/ring.wav" /> <param name="AutoStart" value="false" /> </OBJECT>');
    }
    else {
        document.write(' <OBJECT id="Player"');
        document.write(' type="application/x-ms-wmp"');
        document.write(' src= "/audio/ring.wav" width=0 height=0> </OBJECT>');
    }

    if (document.all) {
        document.write(' <OBJECT id="Player2"');
        document.write(' classid="clsid:6BF52A52-394A-11d3-B153-00C04F79FAA6"');
        document.write(' width=0 height=0 > <param name="URL" value="/audio/security.wav" /> <param name="AutoStart" value="false" /> </OBJECT>');
    }
    else {
        document.write(' <OBJECT id="Player2"');
        document.write(' type="application/x-ms-wmp"');
        document.write(' src= "/audio/security.wav" width=0 height=0> </OBJECT>');
    }
</script>
<script type="text/javascript">
    $(function () {
        $('#cc').combobox({
            url: '/User/QList2/',
            valueField: 'Realname',
            textField: 'Realname',
            required: true,
            width: 200
          
        });


    })

</script>

<fieldset>
    <legend>
        <label>
            <h2>包装计件</h2>
        </label>
    </legend>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="4" align="left" valign="top" style="padding-top: 10px;">
                <table cellspacing="0" cellpadding="1" bordercolor="#eeeeee" border="1" width="100%">
                    <tbody>
                        <tr id="tr2">
                            <td width="" colspan="2">
                                <font style="color: Red; font-size: 30px"><span id="spanStatus">等待扫描<br />
                                                                                              <br />
                                                                                          
                                                                                              &nbsp;</span></font>
                            </td>
                        </tr>
                        <tr id="tr4">
                            <td colspan="2">
                                <span id="spanInfo"></span>
                            </td>
                        </tr>
                        <tr>
                            <td height="26" align="right">
                                <h2>包装人</h2>
                            </td>
                            <td width="280">
                                <input id="cc" type="text" /></td>
                        </tr>

                        <tr id="tr_ID">
                            <td height="25" width="22%">
                                <h2>
                                    <b>扫描扫描</b></h2>
                            </td>
                            <td width="">
                                <input id="txt" onkeydown="return txt_keydown(event);" style="font-size: 50px; background-image: none; width: 511px" />
                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</fieldset>
<script>
    var txt = document.getElementById("txt");
    var spanStatus = document.getElementById("spanStatus");
    var spanInfo = document.getElementById("spanInfo");

    var oldstr = "";
    function txt_keydown(e) {
        var keynum;
        if (window.event) //IE
        {
            keynum = e.keyCode;
        }
        else if (e.which) //Netscape/Firefox/Opera
        {
            keynum = e.which;
        }
        if (keynum == 13) {
            if (txt.value == "") { Reset(); }

            OutStock(txt.value);
            txt.value = "";
            return false;
        }
        return true;
    }

    function OutStock(str) {

        var p = $("#cc").combobox("getValue");


        jQuery.ajax({
            url: "/Order/OutStockByJi/",
            type: "post",
            data: "o=" + str + "&p=" + p,
            success: function (msg) {
                if (msg.IsSuccess) {
                    progress = 0;
                    oldstr = "";
                    ShowMessage(msg.Result, "等待扫描", true);
                } else {
                    progress = 0;
                    oldstr = "";
                    ShowMessage(msg.Result, "等待扫描", false);
                }
            }
        });

    }

    //重置
    function Reset() {
        progress = 0;
        txt.value = "";
    }

    function ShowMessage(msgInfo, msgStatus, isOk) {
        if (msgInfo != null) {
            spanInfo.innerHTML = msgInfo;
        }
        if (msgStatus != null) {
            spanStatus.innerHTML = msgStatus;
        }
        if (isOk) {
            spanInfo.style.color = "Blue";
        }
        else {
            spanInfo.style.color = "Red";
        }
    }

</script>
