@{
    ViewBag.Title = "OrderExport";
}
<script type="text/javascript">
    function ExportOrder() {
        var search = "ids=" + $('#data').val() + "&" + "s=" + $('#state').combobox("getValue");
        var postUrl = "/Order/ExportDown/1";
        jQuery.ajax({
            url: "/Order/ExportOrder2/",
            type: "post",
            data: search,
            success: function (sss) {
                location.href = postUrl;
            }
        });
    }
</script>
<textarea style="height: 420px; width: 446px;" id="data">

</textarea>
<select class="easyui-combobox" id="state" style="width: 200px;">
    <option value="OrderNo" selected="selected">订单号</option>
    <option value="OrderExNo">平台订单号</option>
    <option value="TrackCode">追踪码</option>
</select>
<input type="button" value="导出" onclick="ExportOrder()" />

