@model IEnumerable<KeWeiOMS.Domain.QuestionOrderType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        $(function () {
            $('#dg').datagrid({
                url: '@Url.Action("List", "QuestionOrder")',
                pageNumber: 1,
                pageSize: 20,
                pageList: [20, 40, 60, 80, 100]
            });
            $('#Status').combobox({
                valueField: 'id',
                textField: 'text',
                panelHeight: 'auto',
                data: [{ id: "ALL", text: "ALL" }, { id: 0, text: "未处理" }, { id: 1, text: "已处理" }, { id: 2, text: "已拒绝" }]
            });
            $('#Status').combobox("setValue", "ALL");
            $('#Subject').combobox({
                valueField: 'id',
                textField: 'text',
                panelHeight: 'auto',
                data: [{ id: "ALL", text: "ALL" }, { id: "拦截", text: "拦截" }, { id: "订单重发", text: "订单重发" }, { id: "作废订单-重置包裹入库", text: "作废订单-重置包裹入库" }, { id: "拦截-重置产品入库", text: "拦截-重置产品入库" }]
            });
            $('#Subject').combobox("setValue", "ALL");
        });



        //获取选中行
        function getselectedRow() {
            var row = $('#dg').datagrid('getSelected');
            if (row != undefined) {
                if (row.hasOwnProperty('Id')) {
                    var id = row['Id'];
                    return id;
                }
            }
            $.messager.show({
                title: '提示',
                msg: '请选择行',
                timeout: 3000,
                showType: 'slide'
            });
            return (undefined);
        }
        function doSearch() {
            search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
            var ss = $('#Status').combobox("getValue");
            if (ss != "ALL" && ss != "") {
                search += "Status_ds&" + ss + "^";
            }
            var su = $('#Subject').combobox("getText");
            if (su != "ALL" && su != "") {
                search += "Subjest_ds&" + su + "^";
            }
            $("#dg").datagrid("load", {
                search: search
            });
        }


        function getStatus(v) {
            if (v == "0") {
                return "未处理";
            }
            if (v == "1") {
                return "已处理";
            }
            if (v == "2") {
                return "已拒绝";
            }
        }

        function doAudit(v) {
            if (confirm("您确定要审核吗？")) {
                jQuery.ajax({
                    url: "/QuestionOrder/DoAudit/",
                    type: "post",
                    data: "o=" + v,
                    success: function (sss) {
                        $('#dg').datagrid("reload");
                    }
                });
            }
        }
        function doNo(v) {
            if (confirm("您确定要拒绝吗？")) {
                jQuery.ajax({
                    url: "/QuestionOrder/DoNo/",
                    type: "post",
                    data: "o=" + v,
                    success: function (sss) {
                        $('#dg').datagrid("reload");
                    }
                });
            }
        }
        function GetP(v, r, i) {
            var html = "";

            if (r.Subjest.toString().indexOf("重发") > 0 && r.Status == "0") {
                html += '<a href="javascript:void(0);" onclick="doAudit(' + v + ')">审核</a>&nbsp&nbsp  <a href="javascript:void(0);" onclick="doNo(' + v + ')">拒绝</a>';
            }

            return html;
        }

    </script>
    <div region="center">
        <table id="dg" class="easyui-datagrid"
            toolbar="#toolbar"
            rownumbers="true" fitcolumns="true" singleselect="true" pagination="true" fit="true">
            <thead>
                <tr>
                    <th field="Id" width="100" formatter="GetP">操作
                    </th>
                    <th field="OrderNo" width="100">订单号
                    </th>
                    <th field="Subjest" width="200">标题
                    </th>
                    <th field="Status" width="100" formatter="getStatus">状态
                    </th>
                    <th field="CreateBy" width="100">创建人
                    </th>
                    <th field="CreateOn" width="100" formatter="getDate">创建时间
                    </th>
                    <th field="SolveBy" width="100">解决人
                    </th>
                    <th field="SolveOn" width="100" formatter="getDate">解决时间
                    </th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="#" class="easyui-linkbutton" plain="true" onclick="window.open('QuestionScan')">仓库扫描审核</a>
            标题:<input type="text" id="Subject" />
            状态：<input type="text" id="Status" />
            <input id="txtSearch" class="easyui-searchbox" data-options="prompt:'查询关键字',searcher:doSearch,menu:'#mm'"></input>
        </div>
        <div id="mm" style="width: 120px">
            <div data-options="name:'OrderNo'">订单号</div>
            <div data-options="name:'Subjest'">标题</div>
            <div data-options="name:'Status'">状态</div>
            <div data-options="name:'CreateBy'">创建人</div>
            <div data-options="name:'SolveBy'">解决人</div>
        </div>
    </div>
</body>
