@{
    ViewBag.Title = "ScanExport";
}
<script type="text/javascript">
    function exportexcel() {
        $('#c_form').form('submit', {

            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.errorMsg) {

                } else {

                }
            }
        });
    }
</script>
@using (Html.BeginForm("ScanExport", "Order", FormMethod.Post, new { id = "c_form", enctype = "multipart/form-data" }))
{
    <div>
        开始：<input type="text" id="st" name="st" class="easyui-datetimebox" style="width: 150px" />
        结束：<input type="text" id="et" name="et" class="easyui-datetimebox" style="width: 150px" />
        扫描人：<input type="text" id="u" name="u" style="width: 150px" />
        物流：<input type="text" id="key" name="key" style="width: 150px" />
        <input type="button" value="导出扫描" onclick="exportexcel()" />
       
    </div>
}

